%h1 New document
= form_tag do
  .field
    .radio
      %label
        %input#radio_file{checked: "checked", name: "document[upload_method]", type: "radio", value: "File"}/
        From a local file
    .radio
      %label
        %input#radio_url{name: "document[upload_method]", type: "radio", value: "URL"}/
        From a remote URL

    .form_file.form-group
      %label.col-sm-1.control-label{for: "document_file"} File
      .col-sm-11
        %input#document_file{name: "document[file]", placeholder: "Email", type: "file"}

    .form_url.form-group{hidden: true}
      %label.col-sm-1.control-label{for: "document_url"} URL
      .col-sm-8
        %input#document_url.form-control{name: "document[url]", placeholder: "Document URL", type: "url"}

    .form_url.form-group{hidden: true}
      %label.col-sm-1.control-label{for: "document_url_ext"} Extension
      .col-sm-2
        %select.form-control{name: "document[url_ext]"}
          =Format.all.each do |f|
            %option=f.name

  .actions
    %input{name: "commit", type: "submit", value: "Start Conversion"}/
= link_to 'Back', documents_path

:javascript
  $(document).ready(function() {

    $("#radio_file").click(function(){
      $(".form_file").fadeIn();
      $(".form_url").hide();
    });

    $("#radio_url").click(function(){
      $(".form_file").hide();
      $(".form_url").fadeIn();
    });
  
  });