<h1>Api</h1>
<table>
	<tr>
		<td><b>API KEY</b></td>
		<td><b>SECRET KEY</b></td>
	</tr>
	<tr>
		<td><%= @user.api_key %></td>
		<td><%= @user.secret_key %></td>
	</tr>
</table>

<br/>
<%= link_to 'Generate new keys', '/documents/regenerate_keys' %>
<br/>
<%= link_to 'Back', '/user/dashboard' %>