<form action="/admindefaultvalues" method="post">
	Storage (bytes): <input type="text" name="storage"><br>
	Documents time expiration(seconds): <input type="text" name="documents_time_for_expiration"><br>
	Max document size (bytes):<input type="text" name="max_document_size"><br>
	Limit of conversions:<input type="text" name="limit_of_conversions"><br><br>
	<input type="submit" value="Acept">
</form>