<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @webhoook.url %>
</p>

<p>
  <b>Deleted:</b>
  <%= @webhoook.deleted %>
</p>


<%= link_to 'Edit', edit_webhoook_path(@webhoook) %> |
<%= link_to 'Back', webhoooks_path %>

<br>
<br>
 webhook url | file url | notification type| notification state | attempts <br><br>
<%  @webhoook.whsents.each do |w| %>
<%= w.url%> | 
<%= w.urldoc%> |
<%= w.notification == 2? 'Convertion Successfull': 'Convertion Failed'%> | 
<%= w.state==0 ? 'Recived': w.state==1? 'No recived' : 'No recived, exhausted attempts'%> | 
<%= w.attempts %>
<br>
<%  end %>
