<%= devise_error_messages! %>
<br />
<%= javascript_include_tag :defaults %>
<%= link_to "sign out1", destroy_user_session_path, :method => :delete %>

<a href="/users/sign_out" data-method="delete" rel="nofollow">Sign out2</a>