<div class='container'>

<br>
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/user/dashboard">Document Converter</a>
  </div>
</nav>

<h2>
<a name="summary" class="anchor" href="#summary"><span class="octicon octicon-link"></span></a>Summary</h2>

<p>This gem provides the functionality of convert files between diferents extensions by using the services of the aplication Document Converter located in the cloud.
It is a Ruby on Rails application which, through the services of LibreOffice and UNO converter allows you to improve your application.
Some of the extensions supported are: TXT, ODS, ODP, PDF, HTML, etc.
For more information about supported formats and its dependencies go to:
LINK</p>

<h2>
<a name="install" class="anchor" href="#install"><span class="octicon octicon-link"></span></a>Install</h2>

<p><code>gem install rest_client</code></p>

<p><code>gem install doc_converter</code></p>

<h2>
<a name="requirements" class="anchor" href="#requirements"><span class="octicon octicon-link"></span></a>Requirements</h2>

<ul>
	<li>Ruby 1.9.3 or higher.</li>
</ul><h2>
<a name="before-using-the-gem" class="anchor" href="#before-using-the-gem"><span class="octicon octicon-link"></span></a>Before using the gem…</h2>

<p>Before using the gem for the first time it is necessary to Access to the Document Converter web page (<a href="http://documentconverter-env.elasticbeanstalk.com">documentconverter-env.elasticbeanstalk.com</a>) and register a new user. After registering, the users dashboard is displayed and you can see My Api Keys link on the left. By clicking on that link you can get your api and secret key, which are required to validate the user in the system and allow him to use the gem´s functionalities.
The gem will be notified once a conversion is finished through a specific webhook the user configured in his dashboard. Afterwards, the system will notify the application through the configured URL (or URL’s) by sending a JSON containing the conversion status and the download link of the converted file.
For see details about Webhooks: </p>

<h2>
<a name="configure" class="anchor" href="#configure"><span class="octicon octicon-link"></span></a>Configure</h2>

<p>Before starting to use the gem you will need to configure it. To do this you will need the pair of keys mentioned before, which will allow you to configure the gem.
To do this you will have to enter the following ruby code:</p>

<p><code>DocConverter.configure({:server_address =&gt; “&lt;API_addres&gt;”; :api_key =&gt; “&lt;your_public_key&gt;”; :secret_key =&gt; “&lt;your_secret_key&gt;”})</code></p>

<p>The actual server address is:  <a href="http://documentconverter-env.elasticbeanstalk.com/">http://documentconverter-env.elasticbeanstalk.com/</a></p>

<p>Now you can use the convert files using the gem.
Notice that this messages are sent through a JSON format.  </p>

<h2>
<a name="how-to-use" class="anchor" href="#how-to-use"><span class="octicon octicon-link"></span></a>How to use?</h2>

<p>The gem has three functionalities, which are:</p>

<ol>
<li>
<p>Get conversion formats for a specific format</p>

<p><code>DocConverter.get_formats(“formato”)</code></p>
</li>
<li>
<p>There are two posible options to convert a file</p>

<p>2.1. Convert a file to one of the possible destination formats </p>

<p><code>DocConverter.convert_document(“file_path”,”destiny_format”, “FILE”)</code></p>

<p>Where file_path is the path where the file is located and destiny_format is the format to which the file                  will be converted.</p>

<p>2.2. Convert a file from an URL</p>

<p><code>DocConverter.convert_document(“file_url”,”destiny_format”,”URL”)</code></p>

<p>Where file_url is the URL where the file is located and destiny_format is the format to which the file      will be converted.</p>
</li>
<li>
<p>Get available storage space(for converted files) for a specific user</p>

<p><code>DocConverter.get_free_space</code></p>
</li>
</ol><h2>
<a name="example" class="anchor" href="#example"><span class="octicon octicon-link"></span></a>Example</h2>

<div class="highlight highlight-ruby"><pre><span class="c1">#This examples converts example.txt file to all the possible conversions formats</span>
<span class="n">destinies_formats</span> <span class="o">=</span> <span class="no">DocConverter</span><span class="o">.</span><span class="n">get_formats</span><span class="p">(</span><span class="s2">"txt"</span><span class="p">)</span>

<span class="n">destinies_formats</span><span class="o">.</span><span class="n">each</span> <span class="k">do</span> <span class="o">|</span><span class="n">f</span><span class="o">|</span>
    <span class="c1">#convert example.txt to one of the possible conversion formats</span>
    <span class="no">DocConverter</span><span class="o">.</span><span class="n">convert</span><span class="p">(</span><span class="s2">"/home/example.txt"</span><span class="p">,</span> <span class="n">f</span><span class="p">,</span> <span class="s2">"FILE"</span><span class="p">)</span>
<span class="k">end</span>

<span class="n">remaining_space</span> <span class="o">=</span> <span class="no">DocConverter</span><span class="o">.</span><span class="n">get_free_space</span>
<span class="c1">#After all conversions are finished, we get the free storage space remaining</span>
<span class="nb">puts</span> <span class="s2">"Now, your available space is: "</span> <span class="o">+</span> <span class="n">remaining_space</span>

</pre></div>

<h2>
<a name="dependencies" class="anchor" href="#dependencies"><span class="octicon octicon-link"></span></a>Dependencies</h2>

<p>We try not to reinvent the wheel, so Document Converter is built with other open source projects:</p>

<table>
<thead><tr>
<th>Tools</th>
<th align="center">Use</th>
</tr></thead>
<tbody>
<tr>
<td>Devise</td>
<td align="center">Handles users</td>
</tr>
<tr>
<td>Active Admin</td>
<td align="center">Handles administrators</td>
</tr>
<tr>
<td>Whenever</td>
<td align="center">Executes functions periodically</td>
</tr>
<tr>
<td>Aws-S3</td>
<td align="center">Allows communication with amazon service</td>
</tr>
<tr>
<td>Rest-client</td>
<td align="center">Forms the http messages</td>
</tr>
<tr>
<td>Capybara</td>
<td align="center">Used to test the interface</td>
</tr>
<tr>
<td>Rspec</td>
<td align="center">Used for unit testing</td>
</tr>
<tr>
<td>JMeter</td>
<td align="center">Used for performance and load testing</td>
</tr>
</tbody>
</table><h2>
<a name="webhooks" class="anchor" href="#webhooks"><span class="octicon octicon-link"></span></a>Webhooks</h2>

<p>Use webhooks to be notified about the converted status of your documents. When you send a document to be converted, it may take a while. Webhooks let you register one o more URLs in which we will POST a json when your document is converted or the conversion fails. The json contains two fields: 'notification' and 'data'. Notification has two values: '1' means the conversion fails and '2' means the conversion was successful. The data field contains the url where you can download the converted file in case the conversion was successful. Each notification is sent to the URLs specified in your webhooks, which you can edit and get from your dashboard panel, by clicking on "My Webhooks". When a notification was successfully received, a "200 OK" message is sent back, and the notification status is changed to "Received". When no response is sent back after a notification is sent, the notification status is changed to "No Received: Yet". There will be three more retries to send the JSON every 10 minutes and if there is no response after these attempts, the notification status is changed to "No Received: Exhausted Attempts"</p></article>
<br>
<br>
<br>
</div>